<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dubaipolice">
    <!--
    If your app targets Android 12 and contains activities,
    services, or broadcast receivers that use intent filters,
    you must explicitly declare the android: exported attribute
    for these app components.

    If "true", the activity is accessible to any app,
    and is launchable by its exact class name.
    If "false", the activity can be launched only by
    components of the same application, applications with the
    same user ID, or privileged system components.
    This is the default value when there are no intent filters.
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:directBootAware="true"
        android:grantUriPermissions="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:supportsRtl">
        <activity
            android:name=".view.activity.MapsLocationActivity"
            android:exported="true"
            android:screenOrientation="portrait">
<!--

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
-->

        </activity>
        <activity
            android:name=".view.activity.IncomingCallUIActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:showOnLockScreen="true" />
        <!--
override jitsi meet activity with addition of showOnLockScreen
       and showWhenLocked
        -->
        <activity
            android:name="org.jitsi.meet.sdk.JitsiMeetActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="o_mr1" />
        <activity
            android:name=".view.activity.OnlineDocumentViewerActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.VideoStreamGoLiveBackgroundActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".view.activity.LiveStreamListActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- Set your credentials for the HERE SDK. -->
        <meta-data
            android:name="com.here.sdk.access_key_id"
            android:value="kSsZAxW9MMZo8dLuNKexNg" />
        <meta-data
            android:name="com.here.sdk.access_key_secret"
            android:value="Q-Jn1gS8pRNL05MIhF0e6_58vUjilTqrKofBiVooNYw9Plg7WaQiDa_nL_U6P6qVuJy2VIeDaEgMtlLILEWXjA" />

        <activity
            android:name=".view.activity.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AudioConferenceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.GroupAttachmentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.GroupStreamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AddMemberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VideoStreamGoLiveActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".view.activity.VideoStreamActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.OnlineMediaPlayerActivity" />
        <activity
            android:name=".view.activity.CameraStreamListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MapLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.GroupInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AppLockActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WhiteStatusBar" />
        <activity
            android:name=".view.activity.ProfilePictureActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".view.activity.PasscodeSetupActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WhiteStatusBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".view.activity.HomeEndUserActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WhiteStatusBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_push_notification" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.LocationDetectorService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.RtpService"
            android:enabled="true"
            android:exported="true" /> <!-- Incoming call -->
        <service
            android:name=".service.HeadsUpNotificationService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".service.CallNotificationActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="ConstantApp.CALL_RECEIVE_ACTION" />
                <action android:name="ConstantApp.CALL_CANCEL_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.PIPActionsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="pip.actions" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".callservices.CallConnectionService"
            android:exported="true"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.OnClearFromRecentService"
            android:stopWithTask="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dubaipolice.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>